

    <div class="section" id="">
        <div class="row center-align">
            <img src="{{ absolute_url(asset(structure.logo)) }}" width="200px" style="margin-top:100px; margin-bottom:50px"><br>
            <img src="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/uploads/synthese.png" width="100%">
        </div>
    </div>
    <div class="page-break"></div>


