<form method="post" action="{{ path('equipment_delete', {'id': equipment.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cet équipement ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipment.id) }}">
    <button class="btn red"><i class="material-icons-outlined left">delete</i> Supprimer</button>
</form>
