<footer class="page-footer maincolor">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text"><a class="btn-floating white"><i class="material-icons-outlined left small text-maincolor white">auto_stories</i></a> Outil de gestion de références</h5>
            </div>
        </div>

    </div>
    <div class="footer-last black">
        <div class="row container">
            <div class="col s10 pdl20 black">
                © 2020 François VAILLANT
            </div>
            <div class="col s2 maincolor pdr20 center-align">
                <a class="grey-text text-lighten-4 center-align" href="#!">Version 1.0</a>
            </div>
        </div>
    </div>
</footer>
